* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80vw;
    margin-left: 2%;
}

.nav a {
    color: black;
    font-weight: 500;
    transition: .3s linear;
}

.nav .topmenu a:hover,
.nav .topmenu a.active {
    color: blueviolet;
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.menu-icon {
    font-size: 0.7em;
    transform: rotate(90deg);
}
.nav a:hover .menu-icon {
    font-size: 0.7em;
    transform: rotate(45deg);
    display: inline-block;
}

.topmenu > li {
    position: relative;
    float: left;

}

.topmenu > li > a {
    padding: 2px 20px;
    font-size: 1.4rem;
    color: black;
}

.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    display: none;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
    left: 20%;
}
.submenu li {
    position: relative;
    text-align: inherit;
    padding: 5% 1%;
}
.submenu li a {
    margin-left: 10%;
    color: black;
    font-size: 14px;
}
.submenu .submenu {
    position: absolute;
    left: 80%;
    top: -1px;
    transition: .3s linear;
}
.nav li:hover > .submenu {
    transform: rotateX(0deg);
    display: block;
    opacity: 1;
}
li:not(:only-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 10%;
    background: black;
}

li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    border-left: 1px solid black;
}
